<H1>Please log in</H1>
<form class="" action="/login" method="post">
    <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="">
    </p>
    <p>
    <label for="user_type">Are you a:</label>
    <input type="radio" name="user_type" value="student">Student</input>
    <input type="radio" name="user_type" value="provider">Provider</input>
    </p>
    <input type="submit" name="" value="Log In">
</form>