<H1>Admin log in</H1>
<form class="" action="/login_admin" method="post">
    <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="">
    </p>
    <input type="submit" name="" value="Log In">
</form>