<div class="container">
  <h1>Welcome to the Broadband Co-Op</h1>

    <p>Are you the parent of a New York City student? Broadband Co-Op can help you find a shared wi-fi network near you, to help your child succeed at remote learning this fall.</p> 
    <p>Do you have broadband at your home or workplace? Sharing your network on Broadband Co-Op can help students in your building get the access they need to keep up in school. The COVID crisis has forced millions of New York City students into remote learning.  With a vaccine still months away, remote learning will continue in the fall and winter. This shift has put a new focus on NYC’s digital divide. <a href="https://comptroller.nyc.gov/wp-content/uploads/documents/Census_and_The_City_Overcoming_NYC_Digital_Divide_Census.pdf" target="_new">Nearly one-third of city households lack access to broadband at home.</a> In under 15 minutes, you can set up a separate, password-protected wi-fi network to share your broadband and help students in need.</p>

  <% if (!student_logged_in?) && (!provider_logged_in?) && (!admin_logged_in?) %>
    <a href="/login">Log In</a> OR <a href="/signup">Sign Up</a>
  <% end %>
</div>
