<div class="container">
  <h1>Welcome to the broadband co-op</h1>
  <h3>
    <p>Find a wifi network in your neighborhood.</p> 
    <p>Help a New York student get the broadband they need to succeed in remote learning.</p>
  </h3>

  <a href="/login">Log In</a> OR <a href="/signup">Sign Up</a>
</div>
